---
const base_url = import.meta.env.BASE_URL;
const menu = [
  {
    text: "Aktuelles",
    link: base_url,
  },
  {
    text: "über uns ...",
    link: base_url + "ueber-uns",
    submenu: [
      { text: "über uns ...", link: base_url + "ueber-uns" },
      {
        text: "Alles auf einen Blick",
        link: base_url + "alles-auf-einen-blick",
      },
    ],
  },
  {
    text: "HSG 09",
    link: base_url + "hsg",
    submenu: [
      { text: "HSG 09 Gronau/Barfelde", link: base_url + "hsg" },
      { text: "Vorstand", link: base_url + "vorstand" },
      { text: "Trainingszeiten", link: base_url + "trainingszeiten" },
      { text: "Newsletter", link: base_url + "newsletter" },
      { text: "Spielplan", link: base_url + "spielplan" },
    ],
  },
  {
    text: "Sporthaus",
    link: base_url + "unser-sporthaus",
    submenu: [
      { text: "Unser Sporthaus", link: base_url + "unser-sporthaus" },
      { text: "Miete / Preise", link: base_url + "preise" },
      { text: "Belegungsplan", link: base_url + "belegungsplan" },
    ],
  },
  {
    text: "Sportarten",
    link: base_url + "sportarten",
    submenu: [
      { text: "Überblick Sportarten", link: base_url + "sportarten" },
      {
        text: "Gymnastikdamen",
        link: base_url + "sportarten" + "gymnastikdamen",
      },
    ],
  },
  {
    text: "Berichte",
    link: base_url + "berichte",
  },
];
---
<input id="toggleMenu" class='peer appearance-none' type='checkbox'/>
<label for="toggleMenu" class="cursor-pointer ml-auto mr-4 py-2 lg:hidden">
<svg class="inline" width="40" height="40" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 3C1.22386 3 1 3.22386 1 3.5C1 3.77614 1.22386 4 1.5 4H13.5C13.7761 4 14 3.77614 14 3.5C14 3.22386 13.7761 3 13.5 3H1.5ZM1 7.5C1 7.22386 1.22386 7 1.5 7H13.5C13.7761 7 14 7.22386 14 7.5C14 7.77614 13.7761 8 13.5 8H1.5C1.22386 8 1 7.77614 1 7.5ZM1 11.5C1 11.2239 1.22386 11 1.5 11H13.5C13.7761 11 14 11.2239 14 11.5C14 11.7761 13.7761 12 13.5 12H1.5C1.22386 12 1 11.7761 1 11.5Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
</label>

<nav class="hidden peer-checked:grid lg:grid grid-flow-row lg:grid-flow-col justify-center lg:justify-start justify-items-center lg:justify-items-start p-6 gap-x-10 gap-y-4 bg-white font-bold">
  {
    menu.map((item) => (
      <button class="group relative" submenu-button>
        <a class="topmenu-link hover:text-primary" href={item.link}>
          {item.text}
        </a>
        {item.submenu && (
    <input id={item.text} class="peer appearance-none" type="checkbox"/>
    <label for={item.text} class="cursor-pointer">
    <svg class="inline" width="25" height="25" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H11L7.5 10.5L4 6Z" fill="currentColor"></path></svg>
    </label>
          <div class="submenu hidden lg:bg-white lg:absolute w-screen lg:w-max px-4 group-hover:block peer-checked:block border-solid border bg-background lg:border-t-0 rounded shadow z-10">
            {item.submenu.map((item) => (
              <a href={item.link} class="block whitespace-nowrap py-2 hover:text-primary lg:text-left">
                {item.text}
              </a>
            ))}
          </div>
        )}
      </button>
    ))
  }
</nav>
