---
import BasePageLayout from "@layouts/BasePageLayout.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  frontmatter: {
    title: string;
    hero: string | undefined;
    gallery: Array<{ image: string }> | undefined;
  };
}

const { title, hero, gallery } = Astro.props.frontmatter;

const all_images = import.meta.glob<{ default: ImageMetadata }>("@assets/**");

// check if the images from props are in all_images (exist)
if (gallery) {
  for (const image of gallery) {
    if (!all_images[image.image])
      throw new Error(`"${image.image}" does not exist in glob: "@assets/**"`);
  }
}

if (hero) {
  if (!all_images[hero]) {
    throw new Error(`"${hero}" does not exist in glob: "@assets/**"`);
  }
}
---

<BasePageLayout>
  <h1>{title}</h1>
  {hero && <Image src={all_images[hero]()} alt="" />}
  <slot />
  <Fragment slot="below">
    <div
      class="grid max-w-prose grid-cols-1 justify-start gap-8 pt-8 lg:grid-cols-2"
    >
      {
        gallery &&
          gallery.map((image) => (
            <Image src={all_images[image.image]()} alt="" />
          ))
      }
    </div>
  </Fragment>
</BasePageLayout>
