---
import BasePageLayout from "@layouts/BasePageLayout.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  frontmatter: {
    title: string;
    author?: string | undefined;
    date?: Date | undefined;
    hero?: string | undefined;
    gallery?: Array<{ image: string }> | undefined;
  };
}

const { title, author, date, hero, gallery } = Astro.props.frontmatter;
const absolute_gallery = gallery?.map((image) =>
  image.image.replace(/^@assets/, "/src/assets"),
);
const absolute_hero = hero?.replace(/^@assets/, "/src/assets");

const all_images = import.meta.glob<{ default: ImageMetadata }>("@assets/**");

// check if the images from props are in all_images (exist)
if (absolute_gallery) {
  for (const image of absolute_gallery) {
    if (!all_images[image])
      throw new Error(`"${image}" does not exist in glob: "@assets/**"`);
  }
}

if (absolute_hero) {
  if (!all_images[absolute_hero]) {
    throw new Error(`"${absolute_hero}" does not exist in glob: "@assets/**"`);
  }
}
---

<BasePageLayout>
  <div>
    <h1 class="inline">{title}</h1>
    <div class="flex w-full justify-end">
      <span class="prose-sm">
        {date && <>{date.toLocaleDateString()}</>}
        {author && <> von {author}</>}
      </span>
    </div>
  </div>
  <article>
    <slot />
  </article>
  <Fragment slot="below">
    <div
      class="grid max-w-screen-lg grid-cols-1 justify-start gap-8 pt-8 lg:grid-cols-2"
    >
      {
        absolute_gallery &&
          absolute_gallery.map((image) => (
            <Image src={all_images[image]()} alt="" />
          ))
      }
    </div>
  </Fragment>
</BasePageLayout>
